[defaults]
remote_user = locadmin
inventory = hosts
host_key_checking = False
accelerate_daemon_timeout = 300
roles_path = ./roles:
ssh_args = -A -o ControlMaster=auto -o ServerAliveInterval=1
collections_path = ./collections
callback_plugins = ./callbacks
callbacks_enabled = stig_xml
[privilege_escalation]
become = true 
become_user = root 
become_method = sudo
become_ask_pass = true
